body{
    background-color: #c0deed;
}
main#feed{
    width:800px;
    height:2000px;
    margin:0 auto;
    padding: 8px;
    border-radius: 40px;
    background-color: #ffffff;
}
article.tweet{
    width:80%;
    margin:0 auto;
    min-height: 200px;
    border: 4px solid #c0deed;
    border-radius: 16px;
}
header, footer{
    height: 20px;
    width: inherit;
    margin: 15px;

}
div.content{
    padding-left: 100px;
    padding-top: 50px;
}
img#contentimage{
    height: 250px;
    width: 270px;
}
div.profile{
  float: left;
}
img#profilepic{
  height: 70px;
  width: 70px;
}

b{
    padding-right: 5px;
    padding-left: 10px;
}
div.tweet{
    padding-left: 80px;
}
div.button{
    float: left;
    padding-left: 85px;
}
